<div class="card card-block">
  {% for block in data.content %}
    {% if block.type == 'text-block' %}
      {% include 'blocks/text-block.html.twig' with { data: block } %}
    {% elseif block.type == 'image-block' %}
      {% include 'blocks/image-block.html.twig' with { data: block } %}
    {% elseif block.type == 'flex-block' %}
      {% include 'blocks/flex-block.html.twig' with { data: block } %}
    {% elseif block.type == 'button-block' %}
      {% include 'blocks/button-block.html.twig' with { data: block } %}
    {% elseif block.type == 'divider-block' %}
      {% include 'blocks/divider-block.html.twig' with { data: block } %}
    {% elseif block.type == 'container-grid-block' %}
      {% include 'blocks/container-grid-block.html.twig' with { data: block } %}
    {% else %}
      <div class="error-box">Unknown block</div>
      {{ dump(block) }}
    {% endif %}
  {% endfor %}
</div>

