<div class="container">
  {% for block in blocks %}
    {% if block.type == 'text-block' %}
        {% include 'blocks/text-block.html.twig' with { data: block } %}

    {% elseif block.type == 'image-block' %}
        {% include 'blocks/image-block.html.twig' with { data: block } %}

    {% elseif block.type == 'flex-block' %}
        {% include 'blocks/flex-block.html.twig' with { data: block } %}

    {% elseif block.type == 'container-grid-block' %}
        {% include 'blocks/container-grid-block.html.twig' with { data: block } %}

    {% elseif block.type == 'container-card-block' %}
        {% include 'blocks/container-card-block.html.twig' with { data: block } %}

    {% elseif block.type == 'button-block' %}
        {% include 'blocks/button-block.html.twig' with { data: block } %}

    {% elseif block.type == 'page-list-block' %}
      {% if block.template == 'article' %}
        {% include 'blocks/article-list-block.html.twig' with { data: block } %}
      {% endif %}

    {% elseif block.type == 'divider-block' %}
      {% include 'blocks/divider-block.html.twig' with { data: block } %}

    {% else %}
      <div class="error-box">
        Unknown block <br>
        {{ dump(block) }}
      </div>

    {% endif %}

  {% endfor %}
</div>
