$textMaxWidth: 40rem;

$pageMaxWidth: 100rem;
$containerMaxWidth: 80rem;

$padding: 1.5rem;
$tablet: 50rem;
$tabletPadding: 2rem;
$desktop: 80rem;
$desktopPadding: 3rem;

$boxBorderRadius: 1.3rem;
$borderRadius: .5rem;
$gap: 1rem;
