html, body, p, h1, h2, h3, h4, h5 {
  font-size: 14px;
  line-height: 130%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  position: relative;
  word-break: break-word;
}

body {
  color: $textColor;
  background: $background;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.hidden {
  display: none;
}

.container-inline {
  container-type: inline-size;
}
